// Define variables for your color scheme

// For example:
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$white: white;

$darkgray: #222831;
$gray: #383E46;
$purple: #00ADB5;
$darkpurple: #310a5d;
$red: #FF6464;
$yellow: #f5ac00;
$lightgrey: #d2d1d4;
$bnblue: #3a4d99;
$thirdgrey: #EEEEEE;
$hoverbtn: #172060;
$bluebody: #e0e8f1;
