// Define variables for your color scheme

// For example:
$red: #FF6464;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$white: white;

$darkgray: #2A2438;
$gray: rgba(42, 36, 56, 0.38);
$purple: #411E8F;
$darkpurple: #310a5d;


