<h1>Information</h1>

<div class="container">

<div class="card-home">
      <h1>Decouvrez Rémy</h1>
      <div class="face" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.6)),url('http://res.cloudinary.com/dacmjlcwx/image/upload/v1566315407/xl96xlf5of7yp1vxl7fn.jpg')">
        <div class="infos">
          <div id="name">Remy</div>
          <div id="age">21 ans</div>
          <div id="city">Paris</div>
        </div>

</div>
    <%= link_to "Reservez", "#", class: "btn btn-flat"%>




</div>


<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
