// home css config for all devices
.banner {
  background-image: asset-url("bg-home.jpg");
  background-size: cover;
  background-position:center;
  display: flex;
  height: 100%;
  padding-top:50px;
}

// home css config for tablet & desktop
@media screen and (min-width: 501px) {
  .banner .container {
    margin-left: 50px;
  }
  .banner {
    align-items: center;
    height: 100vh;
  }
}
