.card-escort {
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  position:relative;
  height: 320px;
  margin-bottom:10px;
  background-color: white;
  border-radius: 5px;
}

.card-escort .price {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: absolute;
  background-color: $yellow;
  border: 3px solid white;
  right: 20px;
  top: 175px;
  display: flex;
  align-items: center;
  justify-content: center;;
  color:white;
  font-size:22px;
}

.face-color {
  background-color: red;
  height:250px;
}

.card-escort .face {
  background-position: top;
  background-size:cover;
  height: 250px;
  position:relative;
  border-radius: 5px 5px 0 0;
  transition: 0.5s;
}

.card-escort .face:hover {
    background-blend-mode: soft-light;
    background-color: rgba(234, 150, 72, 0.55);
    background-size:cover;
    background-position: top;
}

.card-escort .face .infos {
  position:absolute;
  bottom: 20px;
  left: 20px;
}

.card-escort .face .infos #name, #age, #city {
  color:white;
}

.card-escort #name {
  font-size: 18px;
  font-weight: 600;
}

.card-escort #age, #city {
  font-size: 14px;
}

.card-escort .content {
  padding: 30px 20px 10px 20px;
  display: flex;
  align-items: flex-end;
  justify-content: start;
}

.card-escort .content .config {
  padding: 3px 8px;
  border-radius: 5px;
  background-color: $bnblue;
  color: $white;
  margin: 0 7px;
  font-size: 12px;
}

.card-escort .content #description {
  font-size:14px;
  margin-top: 20px;
}

