

.filter .form-control {
  background-color: rgba(255,255,255, 0.7);
  height: 40px;
  font-size: 14px;
  color: $bnblue;
  border: none;
}


.filter .form-control::-webkit-input-placeholder {
  color: rgba(0,0,0, 0.6);
}

.filter .select {
  color: rgba(0,0,0, 0.6);
}


.filter .is-valid {
  border: 1px solid $bnblue !important;
  background-image: none !important;
  color:$bnblue;
  font-weight: 600;
}
