
.filter .form-control {
  background-color: rgba(255,255,255, 0.7);
  height: 40px;
  font-size: 14px;
  color: $bnblue;
  border: none;
}

.wrapper {
  display: flex;
  justify-content: start;
}


@media screen and (max-width: 721px) {
  .box1 {
  width: 100% !important;
  margin-left: 0px !important;
  }
  .wrapper {
    flex-wrap: wrap;
  }
  .box2 a {
    width:100% !important;
    max-width:100% !important;
    margin: 0 !important;
  }
  .box2 {
    margin: 10px 0 0 0 !important;
  }
}

.box1 {
  width: 240px;
  margin-left: 20px;
}

.box2 {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.box2 a {
  margin: 0 10px;
  flex-grow:1;
  max-width:248px;
}

.filter .form-control::-webkit-input-placeholder {
  color: rgba(0,0,0, 0.6);
}

.filter .select {
  color: rgba(0,0,0, 0.6);
}


.filter .is-valid {
  border: 1px solid $bnblue !important;
  background-image: none !important;
  color:$bnblue;
  font-weight: 600;
}
