.navbar-lewagon {
  justify-content: space-between;
  background: white;
  width: 100%;
  margin-bottom: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
}

.navbar-transparent {
  color: white;
  position: fixed;
  background: linear-gradient(to bottom, rgba(0,0,0,0.64) 0%, rgba(0,0,0,0.56) 12%, rgba(231,56,39,0) 100%);
}
