// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  color:black;
  height: 100%;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom:30px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 14px;
}

a {
  color: white;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
  color: white;
}

.color-white {
  color:white !important;
}

.color-white:hover {
  color:white !important;
}

.color-purple {
  color: $bnblue;
}

.color-purple:hover {
  color: $bnblue;

}
